@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  margin: 3rem;
  text-align: center;
}

.title {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
    "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  padding: 1rem 2rem;
  color: #fff;
  background: #000;
}

.title span {
  background-image: -webkit-linear-gradient(
    315deg,
    #b8751e 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #b8751e 100%
  );
  background-image: linear-gradient(
    135deg,
    #b8751e 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #b8751e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.explain {
  width: 80%;
  margin: 1rem auto;
  font-size: 0.8rem;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  width: 12rem;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.4); /* 背景を白に設定 */
  color: white;
  border: 5px solid transparent; /* 透明なアウトラインを設定 */
  background-clip: padding-box; /* 背景クリップをpadding-boxに設定 */
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 0.25rem;
  background: linear-gradient(to bottom right, pink, red);
  z-index: -1; /* ボタンの後ろに表示 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
