.pointResult {
    margin-left: 1rem;
}

.wrap {
    padding: 2rem 0;
}

.result {
    padding-top: 3rem;
}

.label {
    font-weight: bold;
    margin-top: 1rem;
}

.score {
    margin-bottom: 1rem;
}

.list {
    line-height: 2rem;
    margin-left: 1rem;
}

.rank {
    font-weight: bold;
}

.point {
    font-size: 2rem;
    font-weight: bold;
    margin-right: .2rem;
}

.pointUnit {
    font-size: .7rem;
}

.btn {
    transform: scale(.8);
}

